[submodule "jni/libarchive"]
	path = jni/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "jni/libsepol"]
	path = jni/libsepol
	url = https://android.googlesource.com/platform/external/libsepol
[submodule "jni/lzma"]
	path = jni/lzma
	url = http://git.tukaani.org/lzma.git
